<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebSDEHeroCardFrontTemplate.psd</title>
		<link href="styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="background">
			<div id="Layer1"><img src="images/Layer1.png"></div>
			<div id="Layer6"><img src="images/Layer6.png"></div>
			<div id="BlueCloudTexture"><img src="images/BlueCloudTexture.png"></div>
			<div id="LightShading"><img src="images/LightShading.png"></div>
			<div id="RightTitleDiamonds"><img src="images/RightTitleDiamonds.png"></div>
			<div id="LeftTitleDiamonds"><img src="images/LeftTitleDiamonds.png"></div>
			<div id="FrontHeroTextBG"><img src="images/FrontHeroTextBG.png"></div>
			<div id="ElixirHeal3Remedy"><img src="images/ElixirHeal3Remedy.png"></div>
			<div id="ExtraMoves"><img src="images/ExtraMoves.png"></div>
			<div id="ExMovesValue"><img src="images/ExMovesValue.png"></div>
			<div id="ExtraActionscopy"><img src="images/ExtraActionscopy.png"></div>
			<div id="ExActionsValue"><img src="images/ExActionsValue.png"></div>
			<div id="11GreyDie"><img src="images/11GreyDie.png"></div>
			<div id="11GreenDie"><img src="images/11GreenDie.png"></div>
			<div id="11RedDie"><img src="images/11RedDie.png"></div>
			<div id="11BlueDie"><img src="images/11BlueDie.png"></div>
			<div id="DieValue"><img src="images/DieValue.png"></div>
			<div id="PotionIcon"><img src="images/PotionIcon.png"></div>
			<div id="PotionCostOPTIONAL"><img src="images/PotionCostOPTIONAL.png"></div>
			<div id="RedActionButton"><img src="images/RedActionButton.png"></div>
			<div id="RedActionCost"><img src="images/RedActionCost.png"></div>
			<div id="BlueActionIcon"><img src="images/BlueActionIcon.png"></div>
			<div id="BlueActionCost"><img src="images/BlueActionCost.png"></div>
			<div id="SmiteATTKnockdownFir"><img src="images/SmiteATTKnockdownFir.png"></div>
			<div id="ExtraMoves_0"><img src="images/ExtraMoves_0.png"></div>
			<div id="ExMovesValue_0"><img src="images/ExMovesValue_0.png"></div>
			<div id="ExtraActionscopy_0"><img src="images/ExtraActionscopy_0.png"></div>
			<div id="ExActionsValue_0"><img src="images/ExActionsValue_0.png"></div>
			<div id="11GreyDie_0"><img src="images/11GreyDie_0.png"></div>
			<div id="11GreenDie_0"><img src="images/11GreenDie_0.png"></div>
			<div id="11RedDie_0"><img src="images/11RedDie_0.png"></div>
			<div id="11BlueDie_0"><img src="images/11BlueDie_0.png"></div>
			<div id="DieValue_0"><img src="images/DieValue_0.png"></div>
			<div id="PotionIcon_0"><img src="images/PotionIcon_0.png"></div>
			<div id="PotionCostOPTIONAL_0"><img src="images/PotionCostOPTIONAL_0.png"></div>
			<div id="RedActionButton_0"><img src="images/RedActionButton_0.png"></div>
			<div id="RedActionCost_0"><img src="images/RedActionCost_0.png"></div>
			<div id="BlueActionIcon_0"><img src="images/BlueActionIcon_0.png"></div>
			<div id="BlueActionCost_0"><img src="images/BlueActionCost_0.png"></div>
			<div id="ExtraMoves_1"><img src="images/ExtraMoves_1.png"></div>
			<div id="ExMovesValue_1"><img src="images/ExMovesValue_1.png"></div>
			<div id="ExtraActionscopy_1"><img src="images/ExtraActionscopy_1.png"></div>
			<div id="ExActionsValue_1"><img src="images/ExActionsValue_1.png"></div>
			<div id="IronHaloAugmentAura3"><img src="images/IronHaloAugmentAura3.png"></div>
			<div id="11GreyDie_1"><img src="images/11GreyDie_1.png"></div>
			<div id="11GreenDie_1"><img src="images/11GreenDie_1.png"></div>
			<div id="11RedDie_1"><img src="images/11RedDie_1.png"></div>
			<div id="11BlueDie_1"><img src="images/11BlueDie_1.png"></div>
			<div id="DieValue_1"><img src="images/DieValue_1.png"></div>
			<div id="PotionIcon_1"><img src="images/PotionIcon_1.png"></div>
			<div id="PotionCostOPTIONAL_1"><img src="images/PotionCostOPTIONAL_1.png"></div>
			<div id="RedActionButton_1"><img src="images/RedActionButton_1.png"></div>
			<div id="RedActionCost_1"><img src="images/RedActionCost_1.png"></div>
			<div id="BlueActionIcon_1"><img src="images/BlueActionIcon_1.png"></div>
			<div id="BlueActionCost_1"><img src="images/BlueActionCost_1.png"></div>
			<div id="BackgroundUltraGener"><img src="images/BackgroundUltraGener.png"></div>
			<div id="GenericForest"><img src="images/GenericForest.png"></div>
			<div id="BackgroundGeneric"><img src="images/BackgroundGeneric.png"></div>
			<div id="FrontCardBordercopy"><img src="images/FrontCardBordercopy.png"></div>
			<div id="HeartandPotion"><img src="images/HeartandPotion.png"></div>
			<div id="BCircle"><img src="images/BCircle.png"></div>
			<div id="REmerald"><img src="images/REmerald.png"></div>
			<div id="LTopaz"><img src="images/LTopaz.png"></div>
			<div id="TRuby"><img src="images/TRuby.png"></div>
			<div id="PaladinSampleArt"><img src="images/PaladinSampleArt.png"></div>
			<div id="DexBanner"><img src="images/DexBanner.png"></div>
			<div id="DEX"><img src="images/DEX.png"></div>
			<div id="WillBanner"><img src="images/WillBanner.png"></div>
			<div id="WILL"><img src="images/WILL.png"></div>
			<div id="ArmorBanner"><img src="images/ArmorBanner.png"></div>
			<div id="ARMOR"><img src="images/ARMOR.png"></div>
			<div id="AttackBanner"><img src="images/AttackBanner.png"></div>
			<div id="ATTACK"><img src="images/ATTACK.png"></div>
			<div id="21GreenDiecopy"><img src="images/21GreenDiecopy.png"></div>
			<div id="21RedDie"><img src="images/21RedDie.png"></div>
			<div id="21BlueDie"><img src="images/21BlueDie.png"></div>
			<div id="21RedDie_0"><img src="images/21RedDie_0.png"></div>
			<div id="21BlueDie_0"><img src="images/21BlueDie_0.png"></div>
			<div id="21GreyDie"><img src="images/21GreyDie.png"></div>
			<div id="21RedDie_1"><img src="images/21RedDie_1.png"></div>
			<div id="21BlueDie_1"><img src="images/21BlueDie_1.png"></div>
			<div id="3D3Value"><img src="images/3D3Value.png"></div>
			<div id="3D2Value"><img src="images/3D2Value.png"></div>
			<div id="3D1Value"><img src="images/3D1Value.png"></div>
			<div id="22GreenDie"><img src="images/22GreenDie.png"></div>
			<div id="22RedDie"><img src="images/22RedDie.png"></div>
			<div id="21GreyDie_0"><img src="images/21GreyDie_0.png"></div>
			<div id="21GreenDiecopy_0"><img src="images/21GreenDiecopy_0.png"></div>
			<div id="21RedDie_2"><img src="images/21RedDie_2.png"></div>
			<div id="21BlueDie_2"><img src="images/21BlueDie_2.png"></div>
			<div id="2D2Value"><img src="images/2D2Value.png"></div>
			<div id="2D1Value"><img src="images/2D1Value.png"></div>
			<div id="11GreyDie_2"><img src="images/11GreyDie_2.png"></div>
			<div id="11GreenDie_2"><img src="images/11GreenDie_2.png"></div>
			<div id="11RedDie_2"><img src="images/11RedDie_2.png"></div>
			<div id="11BlueDie_2"><img src="images/11BlueDie_2.png"></div>
			<div id="1Value"><img src="images/1Value.png"></div>
			<div id="21GreenDiecopy_1"><img src="images/21GreenDiecopy_1.png"></div>
			<div id="21RedDie_3"><img src="images/21RedDie_3.png"></div>
			<div id="21BlueDie_3"><img src="images/21BlueDie_3.png"></div>
			<div id="21RedDie_4"><img src="images/21RedDie_4.png"></div>
			<div id="21BlueDie_4"><img src="images/21BlueDie_4.png"></div>
			<div id="21GreyDie_1"><img src="images/21GreyDie_1.png"></div>
			<div id="21RedDie_5"><img src="images/21RedDie_5.png"></div>
			<div id="21BlueDie_5"><img src="images/21BlueDie_5.png"></div>
			<div id="3D3Value_0"><img src="images/3D3Value_0.png"></div>
			<div id="3D2Value_0"><img src="images/3D2Value_0.png"></div>
			<div id="3D1Value_0"><img src="images/3D1Value_0.png"></div>
			<div id="22GreenDie_0"><img src="images/22GreenDie_0.png"></div>
			<div id="22RedDie_0"><img src="images/22RedDie_0.png"></div>
			<div id="21GreyDie_2"><img src="images/21GreyDie_2.png"></div>
			<div id="21GreenDiecopy_2"><img src="images/21GreenDiecopy_2.png"></div>
			<div id="21RedDie_6"><img src="images/21RedDie_6.png"></div>
			<div id="21BlueDie_6"><img src="images/21BlueDie_6.png"></div>
			<div id="2D2Value_0"><img src="images/2D2Value_0.png"></div>
			<div id="2D1Value_0"><img src="images/2D1Value_0.png"></div>
			<div id="11GreyDie_3"><img src="images/11GreyDie_3.png"></div>
			<div id="11GreenDie_3"><img src="images/11GreenDie_3.png"></div>
			<div id="11RedDie_3"><img src="images/11RedDie_3.png"></div>
			<div id="11BlueDie_3"><img src="images/11BlueDie_3.png"></div>
			<div id="1Value_0"><img src="images/1Value_0.png"></div>
			<div id="21GreenDiecopy_3"><img src="images/21GreenDiecopy_3.png"></div>
			<div id="21RedDie_7"><img src="images/21RedDie_7.png"></div>
			<div id="21BlueDie_7"><img src="images/21BlueDie_7.png"></div>
			<div id="21RedDie_8"><img src="images/21RedDie_8.png"></div>
			<div id="21BlueDie_8"><img src="images/21BlueDie_8.png"></div>
			<div id="21GreyDie_3"><img src="images/21GreyDie_3.png"></div>
			<div id="21RedDie_9"><img src="images/21RedDie_9.png"></div>
			<div id="21BlueDie_9"><img src="images/21BlueDie_9.png"></div>
			<div id="3D3Value_1"><img src="images/3D3Value_1.png"></div>
			<div id="3D2Value_1"><img src="images/3D2Value_1.png"></div>
			<div id="3D1Value_1"><img src="images/3D1Value_1.png"></div>
			<div id="22GreenDie_1"><img src="images/22GreenDie_1.png"></div>
			<div id="22RedDie_1"><img src="images/22RedDie_1.png"></div>
			<div id="21GreyDie_4"><img src="images/21GreyDie_4.png"></div>
			<div id="21GreenDiecopy_4"><img src="images/21GreenDiecopy_4.png"></div>
			<div id="21RedDie_10"><img src="images/21RedDie_10.png"></div>
			<div id="21BlueDie_10"><img src="images/21BlueDie_10.png"></div>
			<div id="2D2Value_1"><img src="images/2D2Value_1.png"></div>
			<div id="2D1Value_1"><img src="images/2D1Value_1.png"></div>
			<div id="11GreyDie_4"><img src="images/11GreyDie_4.png"></div>
			<div id="11GreenDie_4"><img src="images/11GreenDie_4.png"></div>
			<div id="11RedDie_4"><img src="images/11RedDie_4.png"></div>
			<div id="11BlueDie_4"><img src="images/11BlueDie_4.png"></div>
			<div id="1Value_1"><img src="images/1Value_1.png"></div>
			<div id="21GreenDiecopy_5"><img src="images/21GreenDiecopy_5.png"></div>
			<div id="21RedDie_11"><img src="images/21RedDie_11.png"></div>
			<div id="21BlueDie_11"><img src="images/21BlueDie_11.png"></div>
			<div id="21RedDie_12"><img src="images/21RedDie_12.png"></div>
			<div id="21BlueDie_12"><img src="images/21BlueDie_12.png"></div>
			<div id="21GreyDie_5"><img src="images/21GreyDie_5.png"></div>
			<div id="21RedDie_13"><img src="images/21RedDie_13.png"></div>
			<div id="21BlueDie_13"><img src="images/21BlueDie_13.png"></div>
			<div id="3D3Value_2"><img src="images/3D3Value_2.png"></div>
			<div id="3D2Value_2"><img src="images/3D2Value_2.png"></div>
			<div id="3D1Value_2"><img src="images/3D1Value_2.png"></div>
			<div id="22GreenDie_2"><img src="images/22GreenDie_2.png"></div>
			<div id="22RedDie_2"><img src="images/22RedDie_2.png"></div>
			<div id="21GreyDie_6"><img src="images/21GreyDie_6.png"></div>
			<div id="21GreenDiecopy_6"><img src="images/21GreenDiecopy_6.png"></div>
			<div id="21RedDie_14"><img src="images/21RedDie_14.png"></div>
			<div id="21BlueDie_14"><img src="images/21BlueDie_14.png"></div>
			<div id="2D2Value_2"><img src="images/2D2Value_2.png"></div>
			<div id="2D1Value_2"><img src="images/2D1Value_2.png"></div>
			<div id="11GreyDie_5"><img src="images/11GreyDie_5.png"></div>
			<div id="11GreenDie_5"><img src="images/11GreenDie_5.png"></div>
			<div id="11RedDie_5"><img src="images/11RedDie_5.png"></div>
			<div id="11BlueDie_5"><img src="images/11BlueDie_5.png"></div>
			<div id="1Value_2"><img src="images/1Value_2.png"></div>
			<div id="ActionandMoveButtons"><img src="images/ActionandMoveButtons.png"></div>
			<div id="MOVE"><img src="images/MOVE.png"></div>
			<div id="ACTIONS"><img src="images/ACTIONS.png"></div>
			<div id="ROYALPALADIN"><img src="images/ROYALPALADIN.png"></div>
			<div id="HUMANHERO"><img src="images/HUMANHERO.png"></div>
			<div id="AbilityTagsCenterLin"><img src="images/AbilityTagsCenterLin.png"></div>
			<div id="PotionCount"><img src="images/PotionCount.png"></div>
			<div id="HeartCount"><img src="images/HeartCount.png"></div>
		</div>
 </body>
 </html>