---
import BaseLayout from "@layouts/BaseLayout.astro";

const config = {
    title: "Ryan Bucinell - Projects",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"./index.html"},
        {fa:"code", text:"Code", url:"/code" },
        {fa:"headphones", text:"Games", url:"/code/games" },
        {fa:"smile", text:"Life"}
    ],
    page: {
        title: 'Active Projects',
        small: 'Work In Progress...'
    }
}
---
<BaseLayout config={config}>
    <div class="container">
        <h1>Major site overhall broke this page, queued up for rebuilding</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>Click <a href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Here</a> to find out more on Conway's Game of life</p>
                <p>Click on a square to make switch it from living (black) to dead (white) and vis-versa. Then click start to watch!</p>
            </div>
        </div>
        <div id="canvas-container">
            <div id="canvas"></div>
        </div>
        <script is:inline src="/projects/life/js/Square.js"/>
        <script is:inline src="/projects/life/js/Button.js"/>
        <script is:inline src="/projects/life/js/Grid.js"/>
        <script is:inline src="/projects/life/js/Game.js"/>
        <script>
            var canvas = document.getElementById("canvas");
            var graphics = canvas.getContext("2d");
            var game = new Game(canvas.width, canvas.height, graphics);
        </script>
    </div>
</BaseLayout>