---
import BaseLayout from "@layouts/BaseLayout.astro";

const config = {
    title: "Ryan Bucinell - Escape the Trolls",
    breadcrumbs: [
		{fa:"home", text:"Home", url:"./index.html"},
		{fa:"code", text:"Code", url:"/code" },
		{fa:"headphones", text:"Games", url:"/code/games" },
        {fa:"code", text:"Escape the Trolls"}
    ],
    page: {
        title: 'Escape the Trolls',
        small: ''
    }
}
---
<BaseLayout config={config}>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h3> Reddit DailyProgrammer Challenge - 
					<small><a href="https://www.reddit.com/r/dailyprogrammer/comments/4vrb8n/weekly_25_escape_the_trolls/">[Weekly #25] Escape the trolls</a></small>
				</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col-lg-12">
				<div id="svgcontainer">
					<style is:inline>
			
						rect {
							stroke: #000;
							stroke-opacity: 0;
						}
					
						.path
						{
							fill: yellow;
							stroke: yellow;
							stroke-opacity: 1;
						}
					
						.tile {
							fill: white;
						}
						.wall {
							fill: dimgray;
							stroke-opacity: 1;
						}
						.start {
							fill: #00FF00;
						}
						.exit {
							fill: #0000FF;
						}
						.closed {
							fill: #42A5F5;
						}
						.open {
							fill: #90CAF9;
						}
					
						#svgcontainer{
							border:1px solid black;
							padding-left: 0;
							padding-right: 0;
							margin-left: auto;
							margin-right: auto;
							width: 100%;
						}
						#game {		
							display: block;
							border:1px solid #000000;
							background-color: white;
							margin-bottom: -6px;
							display: flex;
						}
					</style>
					<svg id="game">
						<image id="hero" xlink:href="/img/icons/hero.ico" />
						<!--http://stackoverflow.com/questions/17786618/how-to-use-z-index-in-svg-elements-->
					</svg>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
<script is:inline src="/projects/js/Vector2D.js"></script>
<script is:inline src="/projects/js/EscapeTheTroll.js"></script>
<script is:inline>
	let boardW = 20, boardH = 20;//var boardW = 40, boardH = 20;
	let container = document.getElementById("svgcontainer");
	let gameDiv = document.getElementById("game");
	let hero = document.getElementById("hero");
	hero.x = 2 * TILE_SIZE;
	hero.y = 19 * TILE_SIZE;
	hero.width = TILE_SIZE;
	hero.height = TILE_SIZE;
	gameDiv.style.width = boardW * TILE_SIZE + "px"; 
	gameDiv.style.height = boardH * TILE_SIZE + "px"; 
	container.style.width = boardW * TILE_SIZE + "px"; 

	var game = new EscapeTheTroll(boardW,boardH);
	game.generateMap( new Point( 2, 19), new Point(18, 0));//game.generateMap( new Point( 2, 19), new Point(38, 0));
</script>