---
import BaseLayout from '@layouts/BaseLayout.astro';
// import {recurse,readdir} from 'file-system';
import BannerComponent from '@components/BannerComponent.astro';
import NewsHeader from '@components/NewsHeader.astro';
import BasicTable from '@components/BasicTable.astro';
import projects from './projects.json';

const config = {
    title: "Ryan Bucinell - Projects",
    breadcrumbs: [
        {fa:"home",             text:"Home",        url:"index.html"},
        {fa:"code",             text:"Code",        url:"/code"},
        {fa:"settings",         text:"Projects" }
    ],
    page: {
        title: 'Scratchpad Projects',
        small: 'Work In Progress...'
    }
};
const response = await Astro.glob('./projects.json');
const projects = response ? JSON.parse(JSON.stringify(response[0])).default : [];

const tableData = Object.values(projects).filter( p => typeof p !== 'string' ).map( p => {
    return [ p.name, p.path, (p.hasIndex ? `<a class="underline" href="@${p.path}index.html">LINK<a/>`: '') ]
})

// let files = readdir('public/projects/', {withFileTypes: false}, (error,fileDirent) =>{ 
//     console.log( fileDirent );
// });

// let files = recurse('public/projects/', (filepath, readFile, filename) =>{
//     console.log(filepath,readFile,filename);
// });



//TODO: rewrite projects.json to use list instead of a bunch of keys, lot easier to parse.

---
<BaseLayout config={config}>
    <BannerComponent id="testing" alert="warn">
        <span>⚠</span>
        <span class="font-bold mx-2">Just some projects I'm working on or technical tests. They may not work</span>
        <span>⚠</span>
    </BannerComponent>
    <NewsHeader>
        <p class="font-normal">This is a dynamically build web page based on a config file which in itself was 
            generated on a gulp (now Astro) build based on the content that is in my (web)projects directory. 
            If there is an index.html in the project's root then you can click on it to see the project. 
            No guarantee these pages are working or intersting as they are all in some form of work-in-progress
        </p>
    </NewsHeader>
    <BasicTable headers={["Project Name", "Project Location", "Site Link", "GitHub Link", "Description"]}, rows={tableData} />    
</BaseLayout>