script.

    function transform( xml, xsl, outputId )
    {
        //If running IE
        if( window.ActiveXObject )
        {
            ex = xml.transformNode(xsl);
            document.getElementById(outputId).innerHTML = ex;
        }

        //Running other Major browsers
        else if( document.implementation && document.implementation.createDocument)
        {
            xsltProcessor = new XSLTProcessor();
            xsltProcessor.importStylesheet( xsl );
            resultDocument = xsltProcessor.transformToFragment( xml, document );
            document.getElementById(outputId).appendChild(resultDocument);        
        }
    }

    function generateTransformData( xmlSrc, transformSrc, outputId )
    {
        var xml, xslt;
         $.ajax({
            type: 'GET',
            url:  xmlSrc,
            dataType: "xml",
            success: function( data ){
                xml = data.documentElement;
                console.log( xml );
                $.ajax({
                    type: 'GET',
                    url:  transformSrc,
                    dataType: "xml",
                    success: function( data ){
                        xslt = data.documentElement;
                        transform( xml, xslt, outputId );     
                        return xml;                       
                    }
                });
            }
        });
    }