---
---
<div class="d-flex justify-content-center align-items-end flex-wrap">
    <a id="submitSquaresButton" 
        class="btn btn-primary btn-large text-white text-uppercase" 
        href="https://docs.google.com/forms/d/e/1FAIpQLSfrTBaUguSjK2tWqHCuoFN2zNfJxzyFOzxxfEDPyPOfXtSdsw/viewform" 
        rel="noopener" 
        target="_blank">
        <img src="https://1.bp.blogspot.com/-vRa8j_5n27A/WgMKyC9lq0I/AAAAAAAADjo/WBzlPGYj6hI9b6406BddXOeLcdeHBDt9wCLcBGAs/s1600/forms-icon.png" 
          alt="Google Forms Icon" 
          style="max-height:30px;">
        Purchase squares here!
    </a>
  </div>