---
import CollapsibleSection from "../../../components/collapsiblesection.astro";
---
<CollapsibleSection id="rules" title="Rules" open="false">
    <ul>
        <li>Squares are <strong id="squareCost">$10</strong>. Please <a rel="noopener" href="https://paypal.me/rbucinell">Paypal</a> or venmo me at <a rel="noopener" href="https://account.venmo.com/u/rbucinell">@rbucinell</a></li>
        <li>The Pot will consist of the sum of the paid squares</li>
        <li>The numbers will be randomized 30mins prior to the game start.</li>
        <li>The quarter numbers will be rolled by <a href="https://www.random.org/">RANDOM.ORG</a></li>
        <li>Payouts willl ramp up each quarter. Here are the pertentage payouts for each quarter:</li>
        <li style="list-style:none">
        <ul class="list-group list-group-horizontal-sm">
            <li class="list-group-item">End of Q1: <strong>10%</strong></li>
            <li class="list-group-item">Halftime: <strong>20%</strong></li>
            <li class="list-group-item">End of Q3: <strong>30%</strong></li>
            <li class="list-group-item">Final: <strong>40%</strong></li>
        </ul>
        </li>
        <li>The winning square for a given quarter will be determined by the last digit of the sum of the digits of the teams' score.
        <ul>
            <li>exmaple: NFC Champion has 17 at the end of the first, the winning number will be <code>1+7=8</code> <i data-feather="arrow-right"></i> 8)</li>
            <li>exmaple: AFC Champion has 56 at the end of the game, the winning number will be <code>5+6=11</code> <i data-feather="arrow-right"></i> 1)</li>
        </ul>
        </li>
        <li>I reserve the right to remove unpaid square requests at any point before numbers are picked.</li>
        <li> 
        <div class="media"> 
            <div class="media-body">Unclaimed/unpaid squares that win, will <a data-toggle="collapse" href="#collapseSplash" role="button" aria-expanded="false" aria-controls="collapseSplash">splash the payout </a>to the cardinal 4 directions in an equal payout (recursively until all money has been distributed)</div><img class="collapse ml-3 img-thumbnail" id="collapseSplash" src="../img/squares/splash_diagram.jpg">
        </div>
        </li>
        <li>If you have any problems picking squares, please text Jess or I. If you don't specify a square, or the square requested is taken we will pick the next sequentially availiable</li>
    </ul>
</CollapsibleSection>