---
import ScoreCard from "./scorecard.astro";
---
<div class="container d-flex justify-content-center mw-100 flex-wrap">
  <ScoreCard q={1}/>
  <ScoreCard q={2}/>
  <ScoreCard q={3}/>
  <ScoreCard q={4}display="Final" />
</div>