extends ../../../layouts/partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Conway\'s Game of Life'",
            breadcrumbs: [
                {fa:"fa-home", text:"Home", url:"index.html"},
                {fa:"fa-cogs", text:"Projects" },
                {fa:"fa-code", text:"Game of Life", url:"#"}
            ],
            pageh1: {
                title: 'Conway\'s Game of Life',
                small: 'live, little squares!'
            }
        }
block content
    .row
        .col-lg-12
            p Click #[a(href='http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life') Here] to find out more on Conway's Game of life
            p Click on a square to make switch it from living (black) to dead (white) and vis-versa. Then click start to watch!
            canvas#canvas( width="770px", height="500px", style="border: 1px solid black;margin: 5px;")
                p Your browser doesn't support canvas
block scripts
        script(type="text/javascript", src="js/Button.js")
        script(type="text/javascript", src="js/GridSquare.js")
        script(type="text/javascript", src="js/Grid.js")
        script(type="text/javascript", src="js/Game.js")
        script.
            var canvas = document.getElementById("canvas");
            var graphics = canvas.getContext("2d");
            var game = new Game(canvas.width, canvas.height, graphics);
                
            if(document.loaded) {
                DoStuffFunction();
            } else {
                if (window.addEventListener) {  
                    window.addEventListener('load', DoStuffFunction, false);
                } else {
                    window.attachEvent('onload', DoStuffFunction);
                }
            }
            function DoStuffFunction()
            {	
                // add our events. Up and down are for dragging,
                // double click is for making new boxes
                canvas.onmousedown = gameMouseDown;
                canvas.onmouseup   = gameMouseUp;
                canvas.ondblclick  = gameMouseDoubleClick;
            }
