:root{
    --afc-primary: #D50A0A;
    --afc-secondary: #FFFFFF;
    --nfc-primary: #013369;
    --nfc-secondary: #FFFFFF;
    --nfl-red: #D50A0A;
    --nfl-blue: #013369;
}

#submitSquaresButton{
    background-color: var(--nfl-blue);
}

#submitSquaresButton:hover{
    border: solid var(--nfl-red) 2px;
}

.nfcChampions {
    background-color: var(--nfc-primary);
    border-bottom: 1px solid var(--nfc-primary);;
    /* background-image: url(https://static.www.nfl.com/t_q-best/league/api/clubs/logos/LA); */
}

.afcChampions {
    vertical-align:middle;
    text-align:center;
    background-color: var(--afc-primary);
    border: 1px solid var(--afc-primary);
    /* background-image: url(https://static.www.nfl.com/t_q-best/league/api/clubs/logos/CIN); */
}

.bg-single-center {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.scorecard {
    height: 3rem;
    color: white;
    font-weight: bold;
}

.board-grid {
    background-color: white;
    border: 1px solid gray;
    display: grid;
    grid-template-columns: 60px repeat(4,2em) repeat(10, 1fr);
    grid-template-rows: 60px repeat(4,2em) repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width:900px;
}

#champNFC { grid-area: 1 / 6 / 2 / 16; }
#nfchq1   { grid-area: 2 / 6 / 3 / 16; }
#nfchq2   { grid-area: 3 / 6 / 4 / 16; }
#nfchq3   { grid-area: 4 / 6 / 5 / 16; }
#nfchq4   { grid-area: 5 / 6 / 6 / 16; }
#champAFC { grid-area: 6 / 1 / 16 / 2; }
#afchq1   { grid-area: 6 / 2 / 16 / 3; }
#afchq2   { grid-area: 6 / 3 / 16 / 4; }
#afchq3   { grid-area: 6 / 4 / 16 / 5; }
#afchq4   { grid-area: 6 / 5 / 16 / 6; }
#gridsquares { grid-area: 6 / 6 / 16 / 16; }
#logo { grid-area: 1 / 1 / 2 / 2; }
#chq1 { grid-area: 2 / 2 / 6 / 6; }
#chq2 { grid-area: 3 / 3 / 6 / 6; }
#chq3 { grid-area: 4 / 4 / 6 / 6; }
#chq4 { grid-area: 5 / 5 / 6 / 6; }

#champNFC {
    /* background-image: url(https://static.www.nfl.com/image/private/f_auto/league/eo223qd5mlxrna3bbdiv); */
    background-color: var(--nfc-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#champNFC img {
    height: 100%;
}

#champAFC {
    /* background-image: url(https://res.cloudinary.com/nflleague/image/private/f_auto/league/maacoshfmktzddy1ob56); */
    background-color: var(--afc-primary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#champAFC img {
    width: 100%;
}

.board-grid > div {
    background-color: white;
    border: 2px solid gray;
    text-align: center;
}

.header {
    line-height: 22px;
    font-weight: bold;
    font-size: large;
}

.cornerheader{
    padding: 5px 0 0 4px;
    text-align: left !important;
}

#logo {
    background-color: white;
    border: none;
}

#logo img {
    height: 100%;
}

.q1 {
    background-color: #444444 !important;
    text-shadow: 1px 1px 2px #AAAAAA;
}
.q1win {
    border: 2px double orange; 
}
.q2 {
    background-color: #666666 !important;
    text-shadow: 1px 1px 2px #AAAAAA;
}
.q2win { 
    border: 2px double red; 
}

.q3 {
    background-color: #888888 !important;
    text-shadow: 1px 1px 2px #AAAAAA;
}
.q3win { 
    border: 2px double blue; 
}

.q4 {
    background-color: #AAAAAA !important;
    text-shadow: 1px 1px 2px white;
}
.q4win { 
    border: 2px double green; 
}

table {
    width: 100%;
    height: 100%;
}

.square {
    /* content: url('../img/helmet.svg'); */
    height: 50px;
}

.qpayout {
    background-color: var(--nfl-blue);
    color: white;
}

@media (max-width: 575.98px) { 
    #logo{
        grid-area: 1 / 1 / 2 / 6;
        display: none;
    }
    .board-grid {
        grid-template-columns: 20px repeat(4,1em) repeat(10, 1fr);
        grid-template-rows: 20px repeat(4,1em) repeat(10, 1fr);
    }

    .square{
        height: 30px;
    }

    #gridsquares {
        font-size: 14px;
        font-weight: 500px;
    }

    .cornerheader {
        padding: 0;
    }

    .header {
        font-size: x-small;
        line-height: normal;
    }
}