---
import BaseLayout from '@layouts/BaseLayout.astro';

const config = {
    title: "Ryan Bucinell - About Me",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"/"},
        {fa:"user",text:"About Me"}
    ],
    page: {
        title: 'C\'est moi',
        small: 'just a bit about yours truly'
    }
};
---
<BaseLayout config={config}>

    <div class="row">
        <div class="col-12">
            <p class="mb-1">I am a Software Engineer and a father of three. Currently living in Rochester, NY. I'm not native to the area, however after getting my bachelors in Computer Science I decided to stick around for the for the Garbage Plates. I am currently a Senior Software Analyst at Coopervision working on full-stack development and Backend architecture. Most of my tools are internal or back end systems. Outside of my 9-5 I occasionally contract website development or script work, including a discord bot that handles automation for more than 800 people.</p>
            <p class="mb-1">Assuming there is any time outside of my fatherly duties, I enjoy writing code, programming challenges, gaming, watching movies, collecting whiskey, and working out to hopefully compete in another mud-run (Spartan Sprint, Tough Mudder, Hero Rush, etc...). 
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="center text-uppercase display-4">Find me around the web</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 center list-group list-group-horizontal">

            <a class="text-dark flex-fill list-group-action" href="http://github.com/rbucinell/" target="_blank" rel="noopener">
                <i class="devicon-github-original display-4"/>
            </a>

            <a class="text-dark flex-fill list-group-action" href="https://codepen.io/SwiftStriker00" target="_blank" rel="noopener">
                <i class="devicon-codepen-plain display-4"/>
            </a>

            <a class="text-dark flex-fill list-group-action" href="https://play.google.com/store/apps/dev?id=7417114351448733904" target="_blank" rel="noopener">
                <i class="devicon-google-plain display-4"/>
            </a>

            <a class="text-dark flex-fill list-group-action" href="http://www.linkedin.com/in/ryanbucinell" target="_blank" rel="noopener">
                <i class="devicon-linkedin-plain display-4"/>
            </a>

            <a class="text-dark flex-fill list-group-action" href="https://www.facebook.com/ryan.bucinell" target="_blank" rel="noopener">
                <i class="devicon-facebook-plain display-4"/>
            </a>
        </div>
    </div>

    <hr />

    <div class="flex justify-between flex-wrap">
        <div class="col span thumbnail"><img class="max-h-80" src="/img/me/aboutme.png"></div>
        <div class="col span thumbnail"><img class="max-h-80" src="/img/me/crop.jpg"></div>
        <div class="col span thumbnail"><img class="max-h-80" src="/img/me/mykids.jpg"></div>
    </div>

    <hr />

</BaseLayout>