---
import BaseLayout from '../layouts/BaseLayout.astro';
import GalleryItemComponent from '../components/GalleryItemComponent.astro';

const config = {
    title: "Ryan Bucinell - Flash",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"index.html"},
        {fa:"play-circle", text:"Games", url:"#"}
    ],
    page: {
        title: 'Games',
        small: ''
    }
};

---
<BaseLayout config={config}>
    A gallery of small games. Have fun.
    <a href="/games/floodit">Flood It</a>
</BaseLayout>