---
import CollapsibleSection from "@components/CollapsibleSection.astro";
import NewsItem from "@components/NewsItem.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const config = {
  title: "Ryan Bucinell - Graphics",
  breadcrumbs: [
    { fa: "home", text: "Home", url: "/" },
    { fa: "image", text: "Graphics" },
  ],
  page: {
    title: "Computer Graphics",
    small: "some say its art",
  },
};
const fdir = "/img/websites/";
---

<BaseLayout config={config}>
  <div class="container">
    <NewsItem>
      This is my humble attempt at the artistic side of my brain, through various digital media. Towards the latter half of my collegiate experience I delved into computer graphics and rendering at a computational level. However since high school I have been working with Adobe Photoshop and <a href="/code/flash">Flash</a>. I started out working on banners and touch-up work for my friend's company, Black Sheep Web Design, and continued to now, where I mostly do gag photoshop work and some graphics for sites.
    </NewsItem>

    <h2><u>Advanced Rendering Course</u></h2>
    
    <CollapsibleSection id="renderman" title="RenderMan Images">
      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
          <img class="h-full w-full object-cover object-center" src="/img/graphics/cg2/ryan.png" alt="Renderman Ryan" />
          <img class="h-full w-full object-cover object-center" src="/img/graphics/cg2/image.png" alt="Renderman Img" />
      </div>
    </CollapsibleSection>
    
    <CollapsibleSection id="customraytracer" title="Custom Raytracer Work">
      <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
        <img class="h-full w-full object-cover object-center" src="/img/graphics/raytracer/assignment3_fun1.png" alt="Raytracer 1" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/raytracer/assignment-3-100-iterations.png" alt="Raytracer 2" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/raytracer/assignment0.png" alt="Raytracer 3" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/cg2/checkpoint5extra.jpg" alt="Raytracer 4" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/raytracer/assignment1-1.png" alt="Raytracer 5" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/raytracer/assignment4-ward.png" alt="Raytracer 6" />
      </div>
      
    </CollapsibleSection>
    
    <h2><u>Photoshop Work</u></h2>

    <CollapsibleSection id="webbanner" title="Web Banners">
      <div class="flex flex-col gap-3">
        <img class="img-fluid" src="/img/graphics/TKE_website_banner.png" alt="Xi-Upsilon Chapter of TKE banner" />
        <p>Tau Kappa Epsilon - Website Banner</p>
        <img class="img-fluid" src="/img/graphics/BSTechbannerprototype2.jpg" alt="Blacksheep Technology Banner" />
        <p>Black Sheep Web Design - Website Banner</p>
        <a href="https://www.dreamincode.net/forums/user/145381-swiftstriker00/" target="_blank">
          <img class="img-fluid" src="/img/graphics/DIC_Bookmark.jpg" alt="D.I.C. Bookmark"/>
        </a>
        <p><a href="https://www.dreamincode.net">Dream.In.Code: Forums Signature</a></p>
      </div>
    </CollapsibleSection>

    <CollapsibleSection id="scouts" title="Eagle Scouts">
      <p> Since obtaining my Eagle scout rank, I have periodically helped my scout troop by touch up and create patriotic images for their <strong>Eagle Scout Court of Honors</strong>. The following images are in chronological order.</p>
      <div class="grid grid-cols-4 gap-4 xs:grid-cols-2">
        <img class="h-full w-full object-cover object-center" src="/img/graphics/flag/ryan.png"     alt="Eagle Ryan" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/flag/benflag.jpg"  alt="Eagle Ben" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/flag/mathew.jpg"   alt="Eagle Mathew" />
        <img class="h-full w-full object-cover object-center" src="/img/graphics/flag/greg.jpg"     alt="Eagle Greg" />
      </div>
    </CollapsibleSection>
  </div>
</BaseLayout>
