---
import BaseLayout from '../layouts/BaseLayout.astro';
import TechIconComponent from '../components/TechIconComponent.astro';
import ExperienceComponent from '../components/ExperienceComponent.astro';
import CollapsibleSection from  '../components/CollapsibleSection.astro';

const config = {
    title: "Ryan Bucinell - Résumé",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"index.html"},
        {fa:"info",text:"Personal Info"},
        {fa:"file-text",text:"Resume", url:"#"}
    ],
    page: {
        title: 'Ryan Bucinell',
        small: 'A Curriculum Vitae'
    }
};
const fdir = "img/websites/";
---
<style>
    #langSection {
        display:grid;
        grid-template-columns: repeat( 4, 1fr);
    }
    #techSection {
        display:grid; 
        grid-template-columns: repeat(5,1fr);
    }
</style>
<BaseLayout config={config}>

    <div class="alert alert-info" role="alert">
        <h5 class="center">
            <strong><i class="font-weight-bold d-inline" data-feather="file-text"/>&nbsp;</strong>Download a <a href="data/resume/Resume for Ryan Michael Bucinell.pdf" class="alert-link">PDF version</a> here.
        </h5>
    </div>

    <CollapsibleSection id="experience" title="Experience">
        <ExperienceComponent title="Senior Software Engineer" company="Draft Kings" daterange="September 2022 - September 2023" img="img/resume/draftkings.png"
            descriptions={['Fullstack development in their Casino division', 
            'Designed and developed RESTful microservices utilizing C# .NET core and MySQL databases ',
            'Converted Figma designs and Product requires into front-end features with React, Typescript, and SCSS',
            'Monitored multiple environments with Elastic Search (Kibana), Datadog, Vivid Cortex, and AWS S3 Performance',
            'Architected automated solutions for reconfiguration of deployments across environments and gathering compliance',
        ]}/>

        <ExperienceComponent title="Software Developer" company="Day Automation" daterange="November 2021 - August 2022" img="img/resume/day.png"
            descriptions={['Full-stack development of internal site with ruby-on-rails backend and pure JavaScript front-end utilizing REST calls.',
            'Maintained and developed AutoCAD extension, implementing authentication and PDF generation',
            'Automated ticket tracking system integrating Redmine and Trello services.']} />

        <ExperienceComponent title="Software Engineer" company="Paychex" daterange="November 2016 - November 2021" img="img/resume/paychex.png"
            descriptions={['[Nov-2016 - Jun-2019] Contractor; [June-2019 - Nov-2021] FTE',
            'Designed and developed a ExpressJS/Mongo DB REST service to execute GUI automation of system changes ',
            'De-compile, analyze, document, and re-engineer projects with missing GIT source control',
            'Redesigned ASP.NET / AngularJS website for network and Unified Communications automation and monitoring',
            'Automation scripts to support Cisco VXML Java applications & BMC Orchestrator in ServiceNow ticket manager',
            'Trained and on-boarded multiple new engineers o existing project/technologies and agile development practices.']} />

        <ExperienceComponent title="Software Engineer - Contractor" company="Harris" daterange="May 2014 - November 2016" img="img/resume/harris.png"
            descriptions={[
            'Application development for Windows and mobile platforms',
            'Rewritten legacy applications to support new technologies while maintaining and expanding functionality',
            'Utilized Technologies: Version control systems, visual studio, SQL, C#, XML, & XSLT']} />

        <ExperienceComponent title="Software Engineer - Contractor" company="Xerox Corporation" daterange="January 2013 - May 2014" img="img/resume/xerox.png"
            descriptions={[
            'Worked on scrum team development utilizing TFS for team code management',
            'Update and maintain large-scale enterprise software for multiple projects',
            'Created backend services to migrate data, and generate reports as well as manage other services']} />

        <ExperienceComponent title="Performance Engineer  - Contractor" company="Xerox Corporation" daterange="November 2011 - January 2013" img="img/resume/xerox.png"
            descriptions={[
            'Design, build, and deployed international multi-stage metrics gathering system with automated reporting',
            'Retrofit and optimize tools to generate large amounts of big data utilized in server stress simulation',
            'Analyze, Debug, and Report code performance, utilizing PAL, ANTS Profiler, and other performance tools']} />

        <ExperienceComponent title="Visual Studio Student Insider" company="Microsoft" daterange="Feburary 2020 - November 2011" img="img/resume/microsoft.webp"
                descriptions={[
                    'Hybrid program at Microsoft that focused on digital community and student outreach.'
                    ,'Interviewed Microsoft professionals (developers, technical evangelists, and MVP)'
                    ,'Work with new technologies to bring back news, demos, and other information for the communities/students.'
                ]} />

        <ExperienceComponent title="Software Engineer Co-Op" company="Lenel Systems International" daterange="December 2009 - May 2010" img="img/resume/lenel.webp  "
        descriptions={[
            'Using C++ in Visual Studio to develop functionality for database modifications, and modifying security software in Java, Javascript and HTML'
        ]} />

        <ExperienceComponent title="Software Test Engineer Co-Op" company="Welch Allyn" daterange="March 2009 - August 2009" img="img/resume/welchallyn.webp"
        descriptions={[
            'Using Visual Studio Unit Testing Tools, and C#, test code for medical machines'
            ,'Worked with XML, SQL Server, Batch Scripting, and Powershell.'
        ]} />

        <ExperienceComponent title="Summer Intern Programmer" company="Union College" daterange="Jun 2008 - Aug 2008" img="img/resume/union.jpg"
        descriptions={[
            'Continuation on Departmental Tour. Adding advanced features',
            'Supported website development on Mechanical Engineering Dept.'
        ]} />

        <ExperienceComponent title="Summer Intern Programmer" company="Union College" daterange="May 2007 - Aug 2007" img="img/resume/union.jpg"
                descriptions={[
                    'Created a virtual tour of the Mechanical Engineering Dept at Union College (Schenectady, NY).'
                    ,'This tour includes 6 buildings that the user can navigate through or use a search engine. Programming was done using Flash ActionScript 3.0 and XML.'
                    ,'internal photography of all the locations as well'
                ]} />
    </CollapsibleSection>

    <CollapsibleSection id="education" title="Education">
        <ExperienceComponent title="Bachelors of Science, Computer Science" company="Rochester Institute of Technology" daterange="Sept. 2006 - May 2011" img="img/resume/rit.png"
        descriptions={['Minor in Game Design & Development, Concentration in Advanced Computer Graphics']}/>
    </CollapsibleSection>
    

    <CollapsibleSection id="languages" title="Languages">
        <div class="collapse show border-left container" id="langSection">
            {
                ['python', 'csharp', 'cplusplus', 'java', 'scala', 'html5', 'microsoftsqlserver', 'mysql','css3', 'javascript', 'typesecript']
                    .map( i => <TechIconComponent icon={i} word="false" colored="false"/>) 
            }
        </div>
    </CollapsibleSection>

    <CollapsibleSection id="technologies" title="Technologies">
        <div class="collapse show border-left container" id="langSection">
            {
                ['vscode', 'visualstudio', 'intellij', 
                'dot-net', 'dotnetcore', 'docker', 'kubernetes',
                'npm', 'nodejs', 'angularjs', 'vuejs', 'react', 'bootstrap', 'oracle','git', 'gulp', 'webpack','mongodb',
                'flask', 'selenium','express' ]
                    .map( i => <TechIconComponent icon={i} word="false" colored="false"/>)
            }
        </div>
    </CollapsibleSection>
</BaseLayout>
<script src="https://code.highcharts.com/highcharts.js" />
<script src="https://code.highcharts.com/highcharts-3d.js" />
<script src="https://code.highcharts.com/modules/exporting.js" />

