doctype
include ./globals.jade
html
	head
		title NACKA App
		include ./head.jade
	body
		header
			- var pageTitle = 'NACKA | All Teams Playing'
			include ./nav-drawer.jade
		main
			.page-content.container
				ul#teamlist.collection
		//-Scripts at the end of the body
		include ./js-footer.jade
		
		script.
			
			$(function(){
				var url = ROOT_URL + "aplsteamlist.htm";
				var yql = getYqlUrlForPage( url );
				$.getJSON( yql, readYQL);
				
				function readYQL( data )
				{
					var htmlbody = data.query.results.body;
					var listOfTeams = htmlbody.table[2].tbody.tr.td[1].ul.li;
					for( li in listOfTeams )
					{						
						var anchor = listOfTeams[li].a;	
												
						var tName 	= Team.ExtractNameFromRaw( anchor.content );
						var tColor	= Team.ExtractColorFromRaw( anchor.content );
					
						var team = new Team( tName, tColor, anchor.href );
						var newLI = buildCollectionItem( team );
						$("#teamlist").append( newLI );
					}					
				}
				
				function buildCollectionItem( team )
				{	
					var li =$("<li class=\"collection-item avatar tshirt-avatar\"></li>");
					
					var newIMG =$("<img class=\"circle tshirt-img\" src=\"img/shirt_hollow_template_white.png\">");					
					Team.SetElementBackground( newIMG, team );						
					$(li).append(newIMG);
					
					var newTitle = $("<span class=\"title\"></span>").text(team.Name);
					$(li).append(newTitle);						
					
					var pageURL = "teampage.html?name=" + encodeURIComponent(team.Name) + "&url=" + team.URL;
					var secondary = $("<a href=\""+ pageURL +"\" class=\"secondary-content\"><i class=\"material-icons\">send</i></a>");
					
					$(li).append( secondary );
					
					return li;
				}
			});
