//- Import jQuery before materialize.js
script( src="js/jquery-2.1.1.min.js")
script( src="js/materialize.min.js")
script( src="js/app.js")
script( src="js/Colors.js")
script( src="js/Team.js")
script( src="js/Matchup.js")


script.
    $(".button-collapse").sideNav();
