extends ../partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Projects",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"settings", text:"Projects", url:"#" },
                {fa:"alert-triangle", text:"Active", url:"#"}
            ],
            pageh1: {
                title: 'Active Projects',
                small: 'Work In Progress...'
            }
        }
block content
    .container
        h1 major site overhall broke this page, queued up for rebuilding