extends ../partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Javascript Quads",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"settings", text:"Projects" },
                {fa:"code", text:"JS Quads", url:"#"}
            ],
            pageh1: {
                title: 'Javascript Quads',
                small: 'Digitize!'
            }
        }
block content
    .container-fluid
        #buttons.row
            button.m-1.btn.btn-primary#playButton(onclick='play()') Play
            div.mx-1
                .custom-file
                    input.custom-file-input(type="file", accept="image/*", onchange="loadAll()")
                    label.custom-file-label Choose File
            button.m-1.btn.btn-secondary#pauseButton(onclick='step()') Step
            button.m-1.btn.btn-secondary#stopButton(onclick='stop()') Stop
            button.m-1.btn.btn-secondary#createButton(onclick='create()') Convert to Picture
            p#saveMe.lead(style='display:none;') Right click to save me! 
        #cellStyleButtons.row.custom-control.custom-radio
            div.custom-control.custom-radio.custom-control-inline
                input#defaultInline1.custom-control-input(type="radio", name="shadingRadios", checked="checked")
                label.custom-control-label(for="defaultInline1") Box Shade
            div.custom-control.custom-radio.custom-control-inline
                input#defaultInline2.custom-control-input(type="radio", name="shadingRadios")
                label.custom-control-label(for="defaultInline2") Box Bodrder
            div.custom-control.custom-radio.custom-control-inline
                input#defaultInline3.custom-control-input(type="radio", name="shadingRadios")
                label.custom-control-label(for="defaultInline3") Hatch
            div.custom-control.custom-radio.custom-control-inline
                input#defaultInline4.custom-control-input(type="radio", name="shadingRadios")
                label.custom-control-label(for="defaultInline4") HatchShaded

        .row
            img#refpix.col(style='border:1px solid #000000;margin: 5px;', src='' )
            canvas#canvas.col(style='border:1px solid #000000;margin: 5px;')
                p Your browser doesn&apos;t support canvas.
        script
            include quads/js/Box.js
            include quads/js/Histogram.js
            include quads/js/quandrants.js
        script(type='text/javascript').
            const canvas = document.getElementById("canvas");
            const refpix = document.querySelector('#refpix');
            refpix.addEventListener('load', refpixLoaded );
            canvas.oncontextmenu = (e) => e.preventDefault();
            let halfwidth = canvas.getBoundingClientRect().width;
            let quads = new Quadrants( canvas );

            function loadAll()
            {
                if( quads )
                    quads.stop();
                const filePicker = document.querySelector('input[type=file]');
                const reader = new FileReader();
                const file = filePicker.files[0];
                reader.addEventListener('load', ( e )=> refpix.src= e.target.result );
                if (file) {
                    reader.readAsDataURL(file);
                }
            }

            function refpixLoaded()
            {
                console.log( 'refpixLoaded');
                console.log( `canvas (${canvas.getBoundingClientRect().width}, ${canvas.getBoundingClientRect().height})`);
                console.log( `refpix (${refpix.naturalWidth}, ${refpix.naturalHeight})`);
                quads.initialize( refpix );
            }
            
            function play()
            {
                console.log( "Program Started");
                if( quads.ITERATIONS == 0 )
                {
                    quds.ITERATIONS += 1000;
                }
                quads.play();
            };
            function stop()
            {
                quads.stop();
                console.log( "Program Halted");
            };
            function step()
            {
                quads.step();
                console.log( "Program Stepped");
            };
            function create()
            {
                quads.stop();
                playButton.style.display   = 'none';
                stopButton.style.display   = 'none';
                pauseButton.style.display  = 'none';
                createButton.style.display = 'none';
                var dataUrl = canvas.toDataURL();
                var img = document.getElementById('refpix');
                img.src = dataUrl;
                canvas.style.display = 'none';
                saveMe.style.display = "block";
                img.style.display = "block";
            };