---
const {id} = Astro.props;
---
<style>
    .banner{
        border-style: ridge;
        border-width: thin;
    }
</style>
<div id={id} class="banner font-weight-bold alert alert-info" role="alert">
    <h5 class="center">
        <slot/>
    </h5>
</div>