---
const {id} = Astro.props;
---
<style>
    .banner{
        border: black;
        border-style: ridge;
        border-width: thin;
        background-color: var(--primary-dark);
    }
</style>
<div id={id} class="breadcrumb banner font-weight-bold">
    <slot/>
</div>