---
const {id,title,open} = Astro.props;
const isOpen = open === 'true';
const initShown = isOpen ? 'show': '';
const dataTarget = `${id}Section`
---
<div class="breadcrumb my-1">
  <h3 class="">
      <a data-toggle="collapse" data-target={"#"+dataTarget} aria-expanded={isOpen}>
     {title}
     {!isOpen && <span class="font-italic font-weight-light text-muted" style="font-size:0.8rem"><i class="d-inline" data-feather="maximize-2" />click to toggle expand</span>}
    </a>
  </h3>
  <div id={dataTarget} class:list={["collapse","border-left", {"show" : isOpen}]}>
    <slot/>
  </div>
</div>