---

---
<head>
  <meta charset="utf-8"/>
  <title>{ Astro.props.title }</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="author" content="Ryan Bucinell"/>
  <link rel="icon" type="image/png" href="/img/icons/rb3.ico"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" type="text/css"/>
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css"/>
  <link rel="stylesheet" type="text/css" crossorigin="anonymous" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/plugins/font-awesome.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/rbucinell.css"/>
  <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
  <slot/>
</head>