---

---
        <!-- Sidebar -->
        <div class="absolute bg-gray-800 text-white w-56 min-h-screen overflow-y-auto transition-transform transform -translate-x-full ease-in-out duration-300"
            id="sidebar">
            <!-- Your Sidebar Content -->
            <div class="p-4">
                <h1 class="text-2xl font-semibold">Sidebar</h1>
                <ul class="mt-4">
                    <li class="mb-2"><a href="#" class="cell inline locked hover:text-indigo-400">Home</a></li>
                    <li class="mb-2"><a href="#" class="cell inline locked hover:text-indigo-400">About</a></li>
                    <li class="mb-2"><a href="#" class="cell inline locked hover:text-indigo-400">Services</a></li>
                    <li class="mb-2"><a href="#" class="cell inline locked hover:text-indigo-400">Contact</a></li>
                </ul>
            </div>
        </div>

    <script is:inline>
        const sidebar = document.getElementById('sidebar');
        const openSidebarButton = document.getElementById('open-sidebar');
        if( openSidebarButton) {
            openSidebarButton.addEventListener('click', (e) => {
                e.stopPropagation();
                sidebar.classList.toggle('-translate-x-full');
            });

            // Close the sidebar when clicking outside of it
            document.addEventListener('click', (e) => {
                if (!sidebar.contains(e.target) && !openSidebarButton.contains(e.target)) {
                    sidebar.classList.add('-translate-x-full');
                }
            });
        }
    </script>

<!--<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top navbar-expand-sm">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span>
                <img class="img-circle d-inline-block align-text-top" alt="Ryan Bucinell's Headshot" width="48px" height="48px" src="/img/me/me.jpg" />
                <span class="text-dark font-weight-bold pl-1">Ryan Bucinell</span>
            </span>
        </a>
        
        <button class="button navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#mainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNavigation" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Projects</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/projects.html">Active Projects</a>
                        <a class="dropdown-item" href="/code.html">Code</a>
                        <a class="dropdown-item" href="/flash.html">Flash</a>
                        <a class="dropdown-item" href="/websites.html">Websites</a>
                        <a class="dropdown-item" href="/graphics.html">Graphics</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Personal Info</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/about.html">About Me</a>
                        <a class="dropdown-item" href="/resume.html">Résumé</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/retro.html">History</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
