---

---
<style>
    .navbar-dark .navbar-nav .nav-link {
        color: var(--primary-darkest);
    }
</style>

<nav class="navbar navbar-dark navbar-inverse navbar-fixed-top navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span>
                <img class="img-circle d-inline-block align-text-top" alt="Ryan Bucinell's Headshot" width="48px" height="48px" src="/img/me/me.jpg" />
                <span class="text-dark font-weight-bold pl-1">Ryan Bucinell</span>
            </span>
        </a>
        <button class="button navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#mainNavigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Projects</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/projects.html">Active Projects</a>
                    <a class="dropdown-item" href="/code.html">Code</a>
                    <a class="dropdown-item" href="/flash.html">Flash</a>
                    <a class="dropdown-item" href="/websites.html">Websites</a>
                    <a class="dropdown-item" href="/graphics.html">Graphics</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Personal Info</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about.html">About Me</a>
                    <a class="dropdown-item" href="/resume.html">Résumé</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/retro.html">History</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
