---

---
<div class="flex items-center text-gray-700">
    <span class="w-6 h-6">
        <i class="mx-2 mt-1" data-feather={Astro.props.icon}/>
    </span>
    <p class="ml-4" ><slot/></p>
    <!-- <span class="">{Astro.props.date}</span> -->
</div>
