---
import CollapsibleSection from "../CollapsibleSection.astro";
const { payouts } = Astro.props;
---
<div id="rules" class="cell locked">
    <ul class="list-disc list-inside">
        <li>The Pot will consist of the sum of the paid squares</li>
        <li>The numbers will be randomized 30mins prior to the game start or once the board is fill. Which ever is fisrt</li>
        <li>All numbers will be rolled by <a href="https://www.random.org/">RANDOM.ORG</a></li>
        <li>Payouts willl ramp up each quarter. Here are the pertentage payouts for each quarter:</li>
        <li style="list-style:none">
            <div class="flex flex-row justify-evenly">
                <span class="cell inline locked accent">End of Q1:  <strong>{payouts[0]*100}%</strong></span>
                <span class="cell inline locked accent">Halftime:   <strong>{payouts[1]*100}%</strong></span>
                <span class="cell inline locked accent">End of Q3:  <strong>{payouts[2]*100}%</strong></span>
                <span class="cell inline locked accent">Final:      <strong>{payouts[3]*100}%</strong></span>
            </div>
        </li>
        <li>The winning square for a given quarter will be determined by the <span class="underline">last digit of the sum of the digits of the teams' score</span>.
            <ul class="ml-6 cell locked p-0">
                <li class="pl-1">
                    <span class="underline italic">example</span>: NFC Champion has 17 at the end of the first. Sum the digits: <code>1+7=8</code>. The winning number will be <span class="">8</span></i> 
                </li>
                <li class="pl-1 bg-slate-300">
                    <span class="underline italic">example</span>: AFC Champion has 56 at the end of the game. Sum the digits: <code>5+6=11</code>. Take the last digit in <code>11</code><i class="inline" data-feather="arrow-right"></i> <code>1</code>. The winning number will be <span class="">1</span>
                </li>
            </ul>
        </li>
        <li>I reserve the right to remove unpaid square requests at any point before numbers are picked.</li>
        <li> Unclaimed/unpaid squares that win, will splash the payout </a>to the cardinal 4 directions in an equal payout (recursively until all money has been distributed)
            <div class="ml-6 w-fit wrapper cell locked object-fill">
                <img class="h-full" src="../img/squares/splash_diagram.jpg" alt="Example of splash payouts">
            </div>
        </li>
        <li>If you have any problems picking squares, please text Jess or I. If you don't specify a square, or the square requested is taken we will pick the next sequentially availiable</li>
    </ul>
</CollapsibleSection>