/*
light blue: color: #337ab7;
dark blue: color: rgb(17,39,94);
*/
:root {
  --brand-blue: rgb(17,39,94);
  --brand-blue-darker: #11275E;
}
* { margin: 0; padding: 0; }

body
{
  background-color: #999;
  background-image: url( ../img/wood.png);
  padding: 5px;
  font-family: 'Lato', sans-serif;
}

.navbar {
  border: none;
  background-color: #11275E;
  background-image: url(../img/black-paper.png);

/*
  background: -moz-linear-gradient(-45deg,  rgba(17,39,94,1) 0%, rgba(40,95,143,0) 22%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(17,39,94,1) 0%,rgba(40,95,143,0) 22%,rgba(0,0,0,0) 100%);
  background: linear-gradient(135deg,  rgba(17,39,94,1) 0%,rgba(40,95,143,0) 22%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#00000000',GradientType=1 );

  */

}
.navbar-default {
  color: black;

  border: none;
}

.navbar-default .navbar-brand {
  color: black;
}

.panel
{
  background-color: transparent;
  box-shadow: none;
}

.navbar-brand
{
    padding: 0px;
    padding-left: 15px;
}

.navbar-brand > img
{
    max-height: 60px;
}

.main-nav-item
{
  color: white;
  font-family: 'Arvo', serif;
  font-weight: bold;
  /*
  background-color: whitesmoke;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 2px solid black;
  padding: 2px;
  margin: 10px 2px 10px 0px;*/
}

.main-nav-item > a
{
    /*
    color: var(--brand-blue) !important;
    padding: 5px;
    font-size: 1.2em;
    */
    
}
.container-main
{
  color: var(--brand-blue-darker);
  background-color: #999;
  background: url(../img/content-bg.gif ) repeat-y;
  background-size: 100% 1000px;
  padding: 20px 15px 10px 20px;
  /*
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);*/

  min-height: 1000px;
  max-width: 850px;
}

.well {
  background-image: url(../img/textured-paper.png );
  background-color: lightgray;
  border: 1px solid #999;
}

.lifted{ 
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
              0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
              0px 1px 3px 0px rgba(0,0,0,.12);
}

.pattern {
  background-color: #eff3f6;
  /*background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");*/
  background-image: url('../img/white_paper.jpg');
}

.paper {
  background-image: url('../img/white_paper.jpg');
}