---
import BaseLayout from '../../layouts/BaseLayout.astro'
import RegisteredUser from '../../components/advent/RegisteredUser.astro';

const config = {
    title: "Ryan Bucinell - Homepage",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"index.html"},
        {fa:"layout", text:"News", url:"#"}
    ],
    page: {
        title: 'Beer Advent 2022',
        small: ''
    }
};
---


<BaseLayout config={config}>
    <h3>Registered Users</h3>
    <ul class="list-group">
        {Array.from(Array(11), (_, index) => index ).map( item => (
            <RegisteredUser id={item} />
        ))}
      </ul>
</BaseLayout>
<script is:inline src="https://apis.google.com/js/api.js"></script>
<script is:inline>
    async function getSpreadsheetData() {
        try{
            const response = await fetch('https://docs.google.com/spreadsheets/u/0/d/1rLKDagZsUUd7xBoGKylJIbFJNHhFmCf4fH_gt7TYmuU/gviz/tq?tqx=out:json&tq&gid=0');
            const html = await response.text();
            const bs = "google.visualization.Query.setResponse(";
            return JSON.parse( html.substring( html.indexOf(bs) + bs.length, html.length - 2 ));
        }
        catch( err )
        {
            console.log( err );
        }
    }

    document.addEventListener('DOMContentLoaded', async ()=> {
        const data = await getSpreadsheetData();
        data.table.rows.forEach((e,i) => {
            const rowdata = e.c;
            let li = document.querySelector(`#user-${i}`);
            li.classList.remove('d-none');
            let img = li.querySelector('#avatar');
            console.log( rowdata );
            img.setAttribute('src', rowdata[2].v.replace('open?id=', 'file/d/'));
            li.querySelector('#name').innerHTML = rowdata[1].v;

        });
        console.log( data.table.rows );
    });
</script>