---
import BaseLayout from '../../layouts/BaseLayout.astro';

const config = {
    title: 'Crypto Tools',
    breadcrumbs: [
        {fa:"home", text:"Home", url:"/"},
        {fa:"key", text:"Crypto Tools", url:"crypto.html"}
    ],
    page: {
        title: 'Crypto Tools',
        small: ''
    }
};

---
<BaseLayout config={config}>
    <div class="container">
        <div class="row col">
            <h3>The Ceaser Cipher (rot13)</h3>
            <p>Simple encryption where the value of the input is shifted by a number to create the output. Common example is Rot13, where the shift number is 13. A -&gt; M, B -&gt; N, etc...</p>
            <form class="row">
                <div class="col">
                    <label>Clear Text</label>
                    <input class="form-control" name="ceaserin" type="text" onkeyup="updateCeaserCipher()">
                </div>
                <div class="col">
                    <label>Shift</label>
                    <input class="form-control" name="ceasershift" type="number" value="1" maxlength="2" min="0" max="26" onchange="updateCeaserCipher()">
                </div>
                <div class="col">
                    <label>Output</label>
                    <input class="form-control" name="ceaserout" type="text" readonly>
                </div>
            </form>
        </div>
    </div>
</BaseLayout>
<script is:inline>
    function rotShift( input, amount )
    {
        const alphabet = 'abcdefghijklmnopqrstuvwxyz';
        return input
            .split('')
            .map( e => alphabet[ (alphabet.indexOf(e) + amount) % alphabet.length])
            .join('');
    }

    function updateCeaserCipher()
    {
        let input = document.getElementsByName("ceaserin")[0].value;
        let shift = parseInt(document.getElementsByName("ceasershift")[0].value);
        document.getElementsByName("ceaserout")[0].value = rotShift(input,shift);
    }
</script>
