---
import BaseLayout from "../../layouts/BaseLayout.astro";

const config = {
    title: "Ryan Bucinell - Projects",
    breadcrumbs: [
        {fa:"home", text:"Home", url:"index.html"},
        {fa:"settings", text:"Projects", url:"#" },
        {fa:"alert-triangle", text:"Active", url:"#"}
    ],
    page: {
        title: 'Active Projects',
        small: 'Work In Progress...'
    }
}
---
<BaseLayout config={config}>
    <div class="container">
        <h1>Major site overhall broke this page, queued up for rebuilding</h1>
    </div>
</BaseLayout>