---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Rules from "./squares/rules.astro";
import SquaresBoard from "./squares/squaresboard.astro";

const config = {
  title: "Bucinell Superbowl Squares - Super Bowl 57 (2023)",
  breadcrumbs: [
      {fa:"home", text:"Home", url:"index.html"},
      {fa:"check-square", text:"Super Bowl Squares", url:"squares.html"}
  ],
  page: {
      title: 'Bucinell Superbowl Squares',
      small: 'Super Bowl LVII (2023)'
  }
}
---
<meta property="og:image" content="../img/squares/board.jpg">

<BaseLayout config={config}>

  <div class="container-fluid">

    <p>It's that time of year again. Superbowl, baby! There are new rules this year, and a new table. Good Luck.</p>    
  
    <Rules />

    <div class="center mb-4">
      <div class="d-flex justify-content-center align-items-end flex-wrap">
        <a  id="submitSquaresButton" 
            class="btn btn-large text-white text-uppercase" 
            href="https://docs.google.com/forms/d/e/1FAIpQLSfrTBaUguSjK2tWqHCuoFN2zNfJxzyFOzxxfEDPyPOfXtSdsw/viewform" 
            rel="noopener" 
            target="_blank">
            <img src="https://1.bp.blogspot.com/-vRa8j_5n27A/WgMKyC9lq0I/AAAAAAAADjo/WBzlPGYj6hI9b6406BddXOeLcdeHBDt9wCLcBGAs/s1600/forms-icon.png" 
              alt="Google Forms Icon" 
              style="max-height:30px;">
            Purchase squares here!
        </a>
      </div>
    </div>
    
    <SquaresBoard />

</BaseLayout>