extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - About Me",
            breadcrumbs: [
                {fa:"fa-home", text:"Home", url:"index.html"},
                {fa:"fa-info",text:"Personal Info"},
                {fa:"fa-male",text:"About Me", url:"#"}
            ],
            pageh1: {
                title: 'C\'est moi',
                small: 'just a bit about yours truly'
            }
        }
    //- https://lipis.github.io/bootstrap-social/
    link( href='css/bootstrap-social.css' rel='stylesheet') 
block content
    mixin social( name, url)
        if( url )    
            a( class="btn btn-social-icon btn-"+name href=url)
                span(class="fa fa-"+name)
        else
            a( class="btn btn-social-icon btn-"+name)
                span(class="fa fa-"+name)
    //- Content
    .row
        .col-lg-12
            .center If you wish to know more, please visit these links:
                br
                a(href="https://www.facebook.com/ryan.bucinell", target="-") Facebook Page,
                a(href="http://www.linkedin.com/in/ryanbucinell", target="-")   LinkedIn Page, &amp;
                a(href="resume.html")  My Resume

    .row
        .col-xs-12.col-md-9
            p I am a Software Engineer and a father of twins. Currently living in Rochester, NY however I’m native to the area, however after getting BS in Computer Science I decided to stick around for the warm winters and Garbage plates. I am currently employed by Paychex on the Unified Communications team. Professionally I work on business automation, web services, and full-stack development. Most of my tools are internal or back end systems. Outside of my 9-5 I occasionally contract website development or script work.   For recreation I enjoy local sports leagues such as kickball, and softball.  I also moonlight as a referee for one of the leagues as well. I love doing mud-runs such as Tough Mudder, Warrior Dash (pictured to right), Spartan Sprint, and Hero Rush and the perpetual fear that I will be too out of shape to complete one keeps me going. Lastly I'm a huge movie buff and gamer, I'll happily discuss latest of either of these until long after the sun goes down.
        .col-xs-12.col-md-3
            span.thumbnail(style="float:right;"): img( style="max-height:300px",src="img/aboutme.png").
    .row
        .col-lg-3
            +social( 'github', 'https://github.com/rbucinell/')
            +social( 'linkedin', 'http://www.linkedin.com/in/ryanbucinell')
            +social( 'facebook', 'https://www.facebook.com/ryan.bucinell')