---
import HeadComponent from "../components/HeadComponent.astro";
import WrapperComponent from "../components/WrapperComponent.astro";

const {title = 'Ryan Bucinell\'s Personal Site', config } = Astro.props;
---
<html lang="en">
  <HeadComponent title={title}></HeadComponent>
  <body>
    <WrapperComponent config={config}>
      <slot />
    </WrapperComponent>
  </body>
</html>


<!-- doctype html
html(lang='en')
    block config
    - const pagetitle = pageConfig.title;
    include ./head.pug 
    block head
    include ./mixins.pug
    body
        +pageheader( pageConfig.pageh1.title, pageConfig.pageh1.small, pageConfig.breadcrumbs)
            block content
        include ./scripts-footer.pug
        block scripts -->