extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Code",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"settings", text:"Projects" },
                {fa:"code", text:"Code", url:"#"}
            ],
            pageh1: {
                title: 'Code',
                small: 'coding projects here and there'
            }
        }
block content
    template#litemplate
        li.media
            img(width=64, height=64)
            .media-body.mx-2
                h5.m-1: a
                p
    ul#projectList

block scripts
    include ./partials/xmltransform.pug
    script.
        (()=>{
            fetch("data/code/projects.json")
                .then( response => response.json() )
                .then( json =>{
                    console.dir( json );
                    let list = document.querySelector('#projectList');
                    let template = document.querySelector('#litemplate');
                    for( project of json)
                    {
                        let clone = template.content.cloneNode(true);
                        clone.querySelector('li').id = project["@id"];
                        clone.querySelector('img').src = project.icon;
                        let anchor = clone.querySelector('h5 > a');
                        anchor.href = project.hostedUrl;
                        anchor.innerText = project.name;
                        clone.querySelector('p').innerText = project.description;
                        list.appendChild( clone );
                    }
                })
        })();