extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Dodge the Police",
            breadcrumbs: [
                {fa:"fa-home",text:"Home", url:"index.html"},
                {fa:"fa-heart",text:"Charity"},
                {fa:"fa-futbol-o",text:"Dodge The Police", url:"#"}
            ],
            pageh1: {
                title: 'TKE Dodgeball',
                small: 'charity, community relations, and fun'
            }
        }

block content
    //- Content Begin
    .row
        .col-lg-12
            h4 The page is currently under reconstruction. Check back later