extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Graphics",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"settings", text:"Projects" },
                {fa:"image", text:"Graphics"}
            ],
            pageh1: {
                title: 'Computer Graphics',
                small: 'some say its art'
            }
        }
block content
    .container-fluid
        //- Content Goes Here
        .row: p This is my humble attempt at the artistic side of my brain, through various digital media. Towards the latter half of my collegiate experience I delved into computer graphics and rendering at a computational level. However since highschool I have been working with Adobe Photoshop and <a href="flash.html">Flash</a>. I started out working on banners and touch-up work for my friend's company, Black Sheep Web Design, and continued to now, where I mostly do gag photoshop work and some graphics for sites.
        .row: h3: u Advanced Rendering Course
        .row: h4 RenderMan Images
        .row
            .col-12.col-md-6: img.img-fluid(src="img/graphics/cg2/ryan.png")
            .col-12.col-md-6: img.img-fluid(src="img/graphics/cg2/image.png")
        .row: h4 Custom Raytracer Work
        .row
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/raytracer/assignment3_fun1.png")
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/raytracer/assignment-3-100-iterations.png")
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/raytracer/assignment0.png")
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/cg2/checkpoint5extra.jpg")
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/raytracer/assignment1-1.png")
            .col-6.col-md-4.col-lg-2: img.img-fluid(src="img/graphics/raytracer/assignment4-ward.png")

        .row: h3: u Photoshop Work
        .row: h4 Web Banners
        .row
            .col-12
                
                img.img-fluid(src="img/graphics/TKE_website_banner.png" alt="Xi-Upsilon Chapter of TKE banner")
                p Tau Kappa Epsilong - Website Banner
            .col-12
                
                img.img-fluid(src="img/graphics/BSTechbannerprototype2.jpg" alt="Blacksheep Technology Banner")
                p Black Sheep Web Design - Website Banner

            .col-lg-12
                p: a(href="http://www.dreamincode.net") Dream.In.Code: Forums Signature
                a(href="http://www.dreamincode.net/forums/user/145381-swiftstriker00/", target="_blank")
                    img.img-fluid(src="img/graphics/DIC_Bookmark.jpg", border=0, alt="D.I.C. Bookmark")

        .row
            h4 Eagle Scouts
            p Since obtaining my Eagle scout rank, I have periodically helped my scout troop by touch up and create patriotic images for their <strong>Eagle Scout Court of Honors</strong>. The following images are in chronological order.
        .row
            .card-columns
                .card.border-secondary
                    img.card-img-top(src="img/graphics/flag/ryan.png")
                .card.border-secondary
                    img.card-img-top(src="img/graphics/flag/benflag.jpg")
                .card.border-secondary
                    img.card-img-top(src="img/graphics/flag/mathew.jpg")
                .card.border-secondary
                    img.card-img-top(src="img/graphics/flag/greg.jpg")
