extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Hike 4 Heroes",
            breadcrumbs: [
                {fa:"fa-home",text:"Home", url:"index.html"},
                {fa:"fa-heart",text:"Charity"},
                {fa:"fa.fa-area-chart",text:"Hike 4 Heroes", url:"#"}
            ],
            pageh1: {
                title: 'Hike4Heroes',
                small: 'giving back to those who served'
            }
        }

block content
    //- Content Begin
    .row
        .col-lg-12
            h4 The page is currently under reconstruction. Check back later