extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Homepage",
            breadcrumbs: [
                {fa:"fa-home", text:"Home", url:"index.html"},
                {fa:"fa-newspaper-o", text:"News", url:"#"}
            ],
            pageh1: {
                title: 'Ryan Bucinell',
                small: 'latest news and updates'
            }
        }
block content
    -
        newsitems = [
            { icon: "fa-file-code-o",   date: "8/22/2017",  message: "Myriad of projects that have gone unlinked but will soon be ready. For now, site is now built with pug!"},
            { icon: "fa-file-image-o",  date: "7/13/2015",  message: "Website revamp v4! It's about time to make my site mobile friendly" },
            { icon: "fa-globe",         date: "1/7/2015",   message:'Beginning a new side business, tentatively named SwiftSoft LLC. Getting the first <a href="websites.html">website</a> on-line for <a href="http://www.nocoastsandc.fitness">No Coast Strength and Conditioning</a>'},
            { icon: "fa-gamepad",       date: "10/18/2104", message: 'Expanding upon javascript, so I created <a href="projects/life/life.html">Conway\'s Game of Life!</a>' },
            { icon: "fa-code",          date: "6/19/2014",  message: 'Started learning some javascript by creating a Grease Monkey  <a href="code.html">on my code page.</a>'},
            { icon: "fa-android",       date: "4/8/2014",   message: 'Published my first android app for my kickball league.<a href="https://play.google.com/store/apps/details?id=com.nacka_kickball"> <img src="https://cdn4.iconfinder.com/data/icons/free-colorful-icons/128/google_play.png" height="14px" /> NACKA Kickball App</a>' },
            { icon: "fa-file-image-o",  date: "2/20/2013",  message: "Brand new site redesign! v3!"}
        ];

    for item in newsitems
        .row
            .col-lg-12
                .panel
                    .panel-default
                        .panel-body.item
                            .media
                                .media-left
                                    - iclass = "media-object fa fa-lg item.icon " + item.icon
                                    i(class=iclass)
                                .media-body !{item.message}
                                    span #{item.date}
