doctype html
html(lang='en')
    include ./partials/head.pug
    include ./partials/mixins.pug
    body
      include ./partials/nav.pug
      .container-fluid
        .intro-header
          .overlaywrapper
            canvas#intro-canvas
            .intro-message
              .row: h1.col-12 Ryan Bucinell
              .row: h3.col-12  Software Engineer - Rochester NY
              hr
              .row.justify-content-between
                .list-inline.intro-social-buttons
                  a.mx-2.btn.btn-default.btn-lg(href='index.html')
                    i.fa.fa-sign-in.fa-fw
                    span.network-name Enter site
                  a.mx-2.btn.btn-default.btn-lg(href='http://github.com/rbucinell')
                    i.fa.fa-github.fa-fw
                    span.network-name Github 
                  a.mx-2.btn.btn-default.btn-lg(href='https://www.linkedin.com/in/ryanbucinell/')
                    i.fa.fa-linkedin.fa-fw
                    span.network-name LinkedIn
        include ./partials/scripts-footer.pug


