extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Previous site designs",
            breadcrumbs: [
                {fa:'home', text:'Home', url: 'index.html'},
                {fa:'clock', text:'Retro Pages', url:'#'}
            ],
            pageh1:{
                title: 'Site Revisions',
                small: 'iterations over the years'
            }
        };
block content
    .row
        .col-lg-12
            p
            | Below are pictures from my old sites. The more recent and my very first site. I find it fun to look back on what I have done in the past, and to see how much I have improved since then.
            p
            | After a while I get bored of my site and I can take my new ideas along with the opinions of others to upgrade it. Each time I can practice more new CSS and Javascript tricks.

    #overhaul2.row
        .col-lg-12
            h3: u Second Overhaul
            p
            | Describe design choices for current website here
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v3_index.png", alt="retro v3 index")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v3_code.png", alt="retro v3 code")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v3_websites.png", alt="retro v3 websites")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v3_resume.png", alt="retro v3 resume")

    #overhaul1.row
        .col-lg-12
            h3: u First Overhaul
            p
            | This site was coded up with Notepad++, by my own hand, a much needed overhaul from my original site for two reasons. First, my original site was not a representation of my skill in html/css/javascript and second, I needed to make something that looked better with more space for content.
        .col-lg-4.col-md-4.col-sm-12: img(class="img-thumbnail", src="img/retro/v2_index.jpg", alt="revamped Main Page")
        .col-lg-4.col-md-4.col-sm-12: img(class="img-thumbnail", src="img/retro/v2_graphics.jpg", alt="revamped Graphics Page")
        .col-lg-4.col-md-4.col-sm-12: img(class="img-thumbnail", src="img/retro/v2_resume.jpg", alt="Rich Format Resume")

    #original.row
        .col-lg-12
            h3: u Original Site
            p
            | This site is hardly by skill, much of the work was done thanks to Dreamweaver, and some to my roomate Mike (thanks, man).
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v1_index.jpg", alt="original main page")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v1_projects.jpg", alt="original projects page")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v1_about.jpg", alt="original about me page")
        .col-lg-3.col-md-6.col-sm-12: img(class="img-thumbnail", src="img/retro/v1_resume.jpg", alt="original resume page")