extends partials/layout.pug
block config
    -
        var pageConfig = {
            title: "Ryan Bucinell - Website Development",
            breadcrumbs: [
                {fa:"home", text:"Home", url:"index.html"},
                {fa:"settings", text:"Projects" },
                {fa:"globe", text:"Websites", url:"#"}
            ],
            pageh1: {
                title: 'Web Design',
                small: 'Personal and professional projects'
            }
        }
    style.
        .media div a img{ width: 175px; height: 128px; }
        .portfolio-item {
            margin-bottom: 25px;
        }
        .img-responsive{
            min-height: 400px;
        }
block content

    .container-fluid
        .row
            +galleryitem("whyilift", "img/websites/", 4, "Why I Lift", 2019,
                "A site deisgned to look up other competetive lifter's profiles and records. I was contracted to convert their front-end code to be more movbile friendly")
                a.btn.btn-sm.btn-outline-dark(href="http://www.whyilift.com/", role="button" target="_blank") Visit
            +galleryitem( "revivomedical","img/websites/", 2, "ReVivo Medical", 2016,
                "Revivio Medical a startup of doctors with a leading edge spinal fusion procedure. Since doctors were maintaining the site, I needed to build the site with tools that they wouldn't need any technilogical skills to update")
                a.btn.btn-sm.btn-outline-dark(href="http://www.revivomedical.com/", role="button" target="_blank") Visit
            +galleryitem( "nocoast","img/websites/", 5, "No Coast Strength and Conditioning", 2014,
                "No Coast Strength and Conditioning is a personal training site for Rob Saeva in Rochester, NY")
            +galleryitem( "hike4heroes","img/websites/", 4, "Hike 4 Heroes", 2013,
                "My little brother created a charity event to raise money for the Wounded Warrior Project and Navy SEALs Foundation. I volunteered to build, and maintain the sites (as well as social media) as he hiked all 46 Adirondack High Peaks.")
            +galleryitem( "rbb","img/websites/", 3, "Ronald Bucinell's Personal Site", "2010-2018","")
                p.card-text A rework of his professional site to bring site up to standards and to make content easier to find and read.
                a.btn.btn-sm.btn-outline-dark(href="http://rbb.union.edu/", role="button" target="_blank") rbb.union.edu
                p.card-text Innotech International - Ronald Bucinell's Engineering consultant company <a href="http://innotech-international.com/">http://innotech-international.com/</a>
                a.btn.btn-sm.btn-outline-dark(href="http://innotech-international.com", role="button" target="_blank") innotech
            +galleryitem( "personal","img/websites/", 1, "My Personal Site", "2006-Current", "")
                p.card-text First you can see my current work by browsing around, or take a look at my older sites by going to the <a href="retro.html">Retro</a> page.
