doctype
html
    head
        title Ryan &amp; Jessica's Wedding
        meta(http-equiv="refresh", content="0, url=http://www.theknot.com/us/ryan-bucinell-and-jessica-resnick-may-2018")
        meta( charset='utf-8')
        meta( http-equiv='X-UA-Compatible', content='IE=edge')
        meta( name='viewport', content='width=device-width, initial-scale=1')
        meta( name='author', content='Ryan Bucinell')
    body
        p Redirecting to 
            a( href="http://www.theknot.com/us/ryan-bucinell-and-jessica-resnick-may-2018") http://www.theknot.com/us/ryan-bucinell-and-jessica-resnick-may-2018